# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/ogl-dx-micro-fw.layout
/Makefile.win
/ogl-dx-micro-fw.dev
/Objects
/Output